/* Meu header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 0rem;
    z-index: 3022;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container nav .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .container nav .menu li {
    margin-right: 4.8rem;
}

header .container nav .menu-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 4rem;
    gap: 3.4rem;
}

header .container nav .menu-social img {
    margin-left: 1.0rem;
}

/* Section S-Hero */

.s-hero {
    background: url(../img/s-hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}

.s-hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s-hero .container .title-box  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 59.2rem;
    margin-top: 24rem;
    padding-bottom: 5.8rem;
}

.s-hero .container .title-box h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 7.7rem;
    text-align: center;
    color: var(--white-color);
}

.s-hero .container .title-box h1 span {
    color: var(--primary-color);

}

.s-hero .container .title-box h2 {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 6rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 3.4rem;
} 

.s-hero .container .title-box p {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-align: center;
    color: rgba(220, 246, 75, 0.8);
}

.s-hero .container .title-box .techs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    margin-top: 2.3rem;
}

.s-hero .container .title-box .btn-primary {
    margin-top: 4rem;
    padding: 1rem 5.6rem;
}

/* Section Success */

.s-success {
    padding: 14.4rem 0;
    margin: 0 auto;
  }
  
  .s-success .container {
    display: flex;
    align-items: center;
    gap: 4.4rem;
  }
  
  .s-success .container .title-success h2 span {
    font-family: "Inter", sans-serif;
  }
  
  .s-success .container .cards {
    display: flex;
  }
  
  .s-success .container .cards .card {
    width: 100%;
    max-width: 27.9rem;
    height: 30.4rem;
    background-color: var(--white-color);
    border-radius: 4px;
    margin-right: 3.3rem;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .s-success .container .cards .card:hover {
    filter: brightness(90%);
  }
  
  .s-success .container .cards .card.active {
    background-color: var(--primary-color);
  }
  
  .s-success .container .cards .card:last-child {
    margin-right: 0;
  }
  
  .s-success .container .cards .card .card-title {
    margin: 5rem 0;
    padding-right: 14.5rem;
    padding-left: 1.4rem;
  }
  
  .s-success .container .cards .card .card-info {
    padding-left: 1.4rem;
  }
  
  .s-success .container .cards .card .card-title h3 {
    font-family: "Inter";
    font-weight: 300;
    font-size: 6.4rem;
    line-height: 7.7rem;
    margin-bottom: 5.5rem;
  }
  
  .s-success .container .cards .card .card-info p {
    font-family: "Inter";
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 3.9rem;
  }